{% extends "app/base.html" %}

{% block header_file %}
<script src="{{ STATIC_URL }}javascript/getGeolocation.js"></script>
{% endblock %}

{% block script %}
<script>
$(document).ready(function(){

function save_location(){
  $('#location')[0].value = $('#location-guess')[0].innerHTML;
}

$('#save-location-button')[0].addEventListener('click', save_location);

});
</script>
{% endblock %}

{% block nav %}
<ul class="nav navbar-nav navbar-left">
	<li class="active"><a href="{% url 'create_post' %}">Post a Problem</a></li>
</ul>
{% endblock %}


{% block content %}
<center><h2>Post a Problem</h2></center>
</br>
<div id="create-post-container">

{% if error_msg %}
<div class="alert alert-danger" role="alert">{{ error_msg }}</div>
{% endif %}
<form id="problem-form" action="{% url 'create_problem' %}" method="post">
  {% csrf_token %}
  <div class="form-group">
    <label>Describe the problem in a couple words</label>
    <input name="title" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label>Explain in more detail</label>
    <textarea name="description" class="form-control" rows="5"></textarea>
  </div>
  <div class="form-group">
    <label>Where is the problem found?</label>
    <input name="location" id="location" class="form-control" type="text">
  </div>
  <center><button type="submit" id="next-button" class="btn btn-default">Next</button></center>
</form>

</div>

<div class="modal fade" id="location-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Is this where the problem is located?</h4>
      </div>
      <div class="modal-body">
        <p id="location-guess"></p>
      </div>
      <div class="modal-footer">
         <button type="button" class="btn btn-primary" data-dismiss="modal" id="save-location-button">Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock %}