{% extends "app/base.html" %}

{% block script %}
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '926754177344550',
      xfbml      : true,
      version    : 'v2.2'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
{% endblock %}


{% block nav %}
{% if user and not user.is_anonymous %}
	<ul class="nav navbar-nav navbar-right">
		<li><a href="#">Hello {{ user.get_short_name }}</a></li>
	    <li class="dropdown">
	      <img class="img-circle dropdown-toggle" id="nav-image" data-toggle="dropdown" role="button" aria-expanded="false" src="http://graph.facebook.com/{{ social.uid }}/picture">
	      <ul class="dropdown-menu" role="menu">
	        <li><a href="{% url 'profile' %}">My Profile</a></li>
	        <li><a href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a></li>
	      </ul>
	    </li>
	 </ul>
{% endif %}
{% endblock %}


{% block content %}
{% if not user or user.is_anonymous %}
	<div class="social-wrap">
		<button id="facebook-button"><a id="facebook-button-link" href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Login with Facebook</a></button>
	</div>
{% endif %}

{% endblock%}