{% extends "app/base.html" %}

{% block script %}
<script>
$(document).ready(function() {



});
</script>
{% endblock %}

{% block content %}
<div style="margin-left:20px;">
<h2>Problems Posted</h2>
<h4>Click on the images for more detail</h4>
</div>

<div id="problem-container">

{% for problem, images in image_dict.items %}
<div class="problem" >

  <span id="edit" onclick="location.href='{% url 'edit_post' problem.id %}'" class="glyphicon glyphicon-pencil"></span>
  <h2 class="problem-title">{{ problem.title }}</h2>
  <a href="{% url 'view_post' problem.id %}"><img class="image" src="{{ images.0.image.url }}" border="0"></a>
</div>
{% endfor %}

</div>
{% endblock %}