{% extends "app/base.html" %}

{% block style %}
<style>
body{
	background-color: #FDF3E7;
}
</style>
{% endblock %}

{% block content %}
<div style="margin-left:20px;">
<h2>Problems Posted</h2>
<h4>Click on the images for more detail</h4>
</div>

<div id="problem-container">

{% for problem, images in image_dict.items %}
<div class="problem">
  <span id="remove" class="glyphicon glyphicon-remove" data-toggle="modal" data-target="#{{ problem.id }}"></span>
  <span id="edit" onclick="location.href='{% url 'edit_post' problem.id %}'" class="glyphicon glyphicon-pencil"></span>
  <h2 class="problem-title">{{ problem.title }}</h2>
  <a href="{% url 'view_post' problem.id %}"><img class="image" src="{{ images.0.image.url }}" border="10"></a>
  </br>
  <center><a href="{% url 'view_post' problem.id %}">View</a></center>
</div>

{% endfor %}
</div>
{% endblock %}
