{% extends "app/base.html" %}

{% block nav %}
<ul class="nav navbar-nav navbar-right">
	<li><a href="#">Hello {{ user.get_short_name }}</a></li>
    <li class="dropdown">
      <img class="img-circle dropdown-toggle" id="nav-image" data-toggle="dropdown" role="button" aria-expanded="false" src="http://graph.facebook.com/{{ social.uid }}/picture">
      <ul class="dropdown-menu" role="menu">
        <li><a href="{% url 'profile' %}">My Profile</a></li>
        <li><a href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a></li>
      </ul>
    </li>
 </ul>
{% endblock %}

{% block content %}
<img id="profile-image" src="http://graph.facebook.com/{{ social.uid }}/picture" class="img-thumbnail">


{% endblock %}