{% extends "app/base.html" %}

{% block header_file %}
<script src="{{ STATIC_URL }}javascript/getGeolocation2.js"></script>
<script src="{{ STATIC_URL }}javascript/tagit.min.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">
<link href="{{ STATIC_URL }}css/jquery.tagit.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block script %}
<script>

var API_KEY = "AIzaSyD-oVtT-NbHwFJDJkjKbbe-I4llMFBbXtg";

function submit_form() {
  event.preventDefault();
  saveLatlgn();
}

function create_user(){
  var csrftoken = getCookie('csrftoken');
  $.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
  });
  var skills = [];
  for (var i = 0; i < $('#skill-tags')[0].children.length; i++){
    skills.push($('#skill-tags')[0].children[i].children[0].innerHTML);
  }
  $.ajax({
    url: "{% url 'create_user' %}",
    type: "POST",
    data: {"first_name":$('#first_name')[0].value,"last_name":$('#last_name')[0].value, "email":$('#email')[0].value, "education":$('#education')[0].value, "location": $('#location')[0].value, "skills": skills, "latitude": $('#latitude')[0].value, "longitude": $('#longitude')[0].value},
    success: function(json) {
      console.log("success");
      $('.alert-success')[0].style.display = "block";
    },
    error: function(xhr, errmsg, err) {
      console.log(xhr.status + ": " + xhr.responseText);
      $('.alert-danger')[0].style.display = "block";
    }
  });
}

function getAutoComplete(){
  var search = $('#location')[0].value;
  var csrftoken = getCookie('csrftoken');
  $.ajaxSetup({
      beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
      }
  });
  $.ajax({
    url: "{% url 'place_autocomplete' %}",
    type: "POST",
    dataType: "json",
    data: {"search":search},
    success: function(result) {
      var predictions = result["predictions"];
      var tags = [];
      for (i in predictions){
        tags.push(predictions[i]["description"]);
      };
      $( "#location" ).autocomplete({
        source: tags
      });
    },
    error: function(xhr, errmsg, err) {
        console.log(errmsg);
    }
  });
}

function saveLatlgn(){
  var location = $('#location')[0].value;
  var url = "https://maps.googleapis.com/maps/api/geocode/json?address="+location+"&key="+API_KEY;
  $.ajax({
    url: url,
    type: "GET",
    dataType: "json",
    success: function(result){
      var lat = result["results"][0]["geometry"]["location"]["lat"];
      var lng = result["results"][0]["geometry"]["location"]["lng"];
      $('#latitude')[0].value = lat;
      $('#longitude')[0].value = lng;
      create_user();
    },
    error: function(xhr, errmsg, err) {
      console.log(errmsg);
    }
  });
}

$(document).ready(function(){
  
  $('#location')[0].addEventListener('keyup', getAutoComplete);

  $('#skill-tags').tagit();
});

</script>
{% endblock %}

{% block nav %}
<ul class="nav navbar-nav navbar-left">
  <li><a href="{% url 'create_post' %}">Post a Problem</a></li>
</ul>
{% endblock %}

{% block style %}
<style>
body{
}
</style>
{% endblock %}

{% block content %}

<img id="profile-image" src="http://graph.facebook.com/{{ social.uid }}/picture?type=large" class="img-thumbnail">
<div id="profile-form-container">
<div class="alert alert-success" style="display:none;"role="alert">Data successfully saved!</div>
<div class="alert alert-danger" style="display:none;" role="alert">Something went wrong...</div>
<form id="profile-form" onsubmit="javascript:submit_form()">
    {% csrf_token %}
    <div class="form-group">
    	<label>First Name</label>
    	<input id="first_name" type="text" class="form-control" value="{{ user.first_name }}">
  	</div>
    <div class="form-group">
      <label>Last Name</label>
      <input id="last_name" type="text" class="form-control" value="{{ user.last_name }}">
    </div>
  	<div class="form-group">
    	<label>Your email address</label>
    	<input id="email" type="email" class="form-control" value="{{ user.email }}">
  	</div>

    {% if person %}
  	<div class="form-group">
    	<label>Where have you studied?</label>
    	<input id="education" type="text" class="form-control" placeholder="Add education" value="{{ person.0.education }}">
  	</div>
    <div class="form-group">
      <label>Where do you live?</label>
      <input id="location" type="text" class="form-control" value="{{ person.0.location }}">
    </div>
    <div class="form-group">
      <label>What are your skills?</label>
      <p class="help-block">Ex. Java programming, web_development, civil_engineer, law, teaching, languages...etc</p>
      <p class="help-block">Use tab to include multiple skills</p>
      <ul id="skill-tags" name="skills" type="text" class="form-control" style="height:100px;">
        {% if skills %}
          {% for skill in skills%}
            <li>{{ skill.text }}</li>
          {% endfor %}
        {% endif %}
      </ul>
    </div>
    {% else %}
    <div class="form-group">
      <label>Where have you studied?</label>
      <input id="education" type="text" class="form-control" placeholder="Add education">
    </div>
    <div class="form-group">
      <label>Where do you live?</label>
      <input id="location" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label>What are some of your skills?</label>
      <p class="help-block">Ex. Java programming, web_development, civil_engineer, law, teaching, languages...etc</p>
      <p class="help-block">Use tab to include multiple skills</p>
      <ul id="skill-tags" name="skills" type="text" class="form-control" style="height:100px;"></ul>
    </div>
    {% endif %}
    <input id="latitude" type="text" style="display:none;">
    <input id="longitude" type="text" style="display:none;">
    <button type="submit" id="save-button" class="btn btn-default">Save</button>
</form>
</div>


{% endblock %}